/* General */
.games {
   position: absolute;
   top: 0;
   left: 0;
   height: 100%;
   width: 100%;
   padding: calc($default-size * 0.6);
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   .player-name {
      position: absolute;
      top: calc($default-size * 0.3);
      text-align: center;
      font-size: calc($default-size * 1.3);
      font-weight: 600;
      letter-spacing: calc($default-size * 0.1);
      color: rgba(150, 255, 241, 0.9);
   }
   .table {
      font-size: calc($default-size * 0.9);
      background-color: rgba(0, 0, 0, 0.5);
      height: 100%;
      width: 100%;
      overflow-y: auto;
      overflow-x: hidden;
      &.with-scrollbar {
         width: calc(100% + $default-size * 0.5);
      }
      &::-webkit-scrollbar {
         position: absolute;
         width: calc($default-size * 0.5);
      }
      &::-webkit-scrollbar-track {
         background-color: transparent;
         border-radius: calc($default-size * 0.5);
         margin-left: 10px;
      }
      &::-webkit-scrollbar-thumb {
         background-color: rgba(255, 255, 255, 0.05);
         border: calc($default-size * 0.08) solid rgba(0, 0, 0, 0.5);
         border-radius: calc($default-size * 0.5);
      }
   }
   .row.headers {
      height: calc($default-size * 2.6);
      margin-top: calc($default-size * 2);
      background: rgb(30, 30, 30);
      background: linear-gradient(
         0deg,
         rgba(30, 30, 30, 0.5) 0%,
         rgba(0, 0, 0, 0) 50%,
         rgba(30, 30, 30, 0.5) 100%
      );
   }
   .row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: calc($default-size * 2);
      & > * {
         line-height: $default-size;
         height: 100%;
         width: calc(100% / 11);
         display: flex;
         justify-content: center;
         align-items: center;
         text-align: center;
         border-right: calc($default-size * 0.05) solid rgba(255, 255, 255, 0.03);
         border-bottom: calc($default-size * 0.05) solid rgba(255, 255, 255, 0.03);
         &:first-of-type {
            border-left: calc($default-size * 0.05) solid rgba(255, 255, 255, 0.03);
         }
         &:nth-of-type(3) {
            width: 25%;
         }
         &:nth-of-type(11) {
            width: 13%;
         }
      }
      &:not(.headers) > * {
         &:nth-of-type(10), &:nth-of-type(11) {
            overflow: hidden;
            white-space: nowrap;
            /* justify-content: flex-start; */
            padding: 0 calc($default-size * 0.2);
            display: flex;
         }
         &:nth-of-type(10) .too-long, &:nth-of-type(11) .too-long {
            display: block;
            overflow: hidden;
            width: 80%;
            margin-right: calc($default-size * 0.15);
            text-align: left;
         }
         &:nth-of-type(10).pointer:hover, &:nth-of-type(11).pointer:hover {
            color: rgba(150, 255, 241, 0.9);
         }
      }
   }
   .modal {
      border-radius: calc($default-size * 0.5);
      width: 55%;
      height: 40%;
      background: rgb(0, 10, 7);
      background: linear-gradient(
         0deg,
         rgba(0, 30, 21, 0.8) 0%,
         rgba(0, 10, 7, 0.8) 40%,
         rgba(0, 10, 7, 0.8) 60%,
         rgba(0, 30, 21, 0.8) 100%
      );
      padding: calc($default-size * 2);
      letter-spacing: calc($default-size * 0.1);
      font-size: calc($default-size * 1.5);
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 0 0 calc($default-size * 0.35) #000,
         0 0 0 calc($default-size * 0.5) rgb(0, 133, 91);
   }
}