.panel-state-game {
   right: 1%;
   top: 5%;
   height: 80%;
}

.panel-state-game img {
   height: 100%;
   width: auto;
}

.panel-state-game-text {
   position: absolute;
   font-size: calc(var(--default-size) * 1.2);
}

.panel-state-game-text.gen {
   left: 50%;
   transform: translateX(-50%);
   top: 5.5%;
}

.panel-state-game-text.oceans {
   left: 28%;
   bottom: 2.5%;
}

.panel-state-game-temp-cont {
   display: flex;
   justify-content: center;
   background-color: red;
   position: absolute;
   left: 58%;
   bottom: 16%;
   width: 38%;
   transition: height 1s ease-in-out;
}

.panel-state-game-ox-cont {
   display: flex;
   justify-content: center;
   background-color: green;
   position: absolute;
   left: 3%;
   bottom: 16%;
   width: 38%;
}