.anim-card {
   position: absolute;
   /* width: calc(var(--default-size) * 2); */
   height: calc(var(--default-size) * 3);
   animation-iteration-count: infinite;
   top: -150%;
   left: 50%;
   transform: translateX(-50%);
   background-color: red;
}

.anim-card .value {
   position: absolute;
   font-size: calc(var(--default-size) * 1.8);
   color: #fff;
   text-shadow: 0 0 calc(var(--default-size) * 0.3) #000;
}

.anim-card-in {
   animation-name: animate-card-in;
   animation-timing-function: cubic-bezier(0.75, 0, 0.9, 0.75);
}
.anim-card-out {
   animation-name: animate-card-out;
   animation-timing-function: cubic-bezier(0,.75,.75,.9);
}

@keyframes animate-card-in {
   0% {
      top: -150%;
   }
   70% {
      top: -150%;
   }
   100% {
      top: 0%;
   }
}

@keyframes animate-card-out {
   0% {
      top: 0%;
   }
   70% {
      top: -150%;
      opacity: 1;
   }
   100% {
      top: -150%;
      opacity: 0;
   }
}
