/* SP Container */
.modal-standard-projects-box {
   width: 30%;
   height: 60%;
   background: rgba(0, 116, 79, 0.7);
   background: linear-gradient(
      180deg,
      rgba(0, 116, 79, 0.5) 0%,
      rgba(0, 228, 156, 0.7) 50%,
      rgba(0, 116, 79, 0.5) 100%
   );
   padding: $default-size;
   &::before {
      content: '';
      height: 105.2%;
      width: calc($default-size * 0.1);
      position: absolute;
      top: -5.2%;
      left: -3%;
      background-color: rgba(0, 228, 156, 0.5);
   }
   &::after {
      content: '';
      height: calc($default-size * 0.12);
      width: 38.5%;
      position: absolute;
      top: -4%;
      left: 51%;
      background-color: rgba(0, 228, 156, 0.5);
   }
   .header {
      position: absolute;
      left: 0;
      top: -7%;
      font-size: calc($default-size * 1.1);
      font-weight: 500;
      letter-spacing: calc($default-size * 0.1);
   }
}

/* Actions */
.sp-action {
   width: 100%;
   height: 12%;
   margin-bottom: 6.3%;
   background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.1) 100%);
   position: relative;
   &:hover {
      outline: #fff solid calc($default-size * 0.15);
      background: linear-gradient(90deg, rgba(0, 0, 0, 0.7) 0%, rgba(0, 0, 0, 0.3) 100%);
   }
   &-element {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      display: flex;
      justify-content: center;
      align-items: center;
      &.icon {
         left: calc($default-size * 0.6);
         width: 17%;
         height: calc($default-size * 0.9);
         background: linear-gradient(
            90deg,
            rgba(0, 0, 0, 0.2) 0%,
            transparent 50%,
            rgba(0, 0, 0, 0.2) 100%
         );
         div {
            position: absolute;
            inset: calc($default-size * 0.1);
            background-color: rgb(1, 104, 71);
            display: flex;
            justify-content: center;
            align-items: center;
            img {
               height: 280%;
               &.translated {
                  transform: translateX(10%);
               }
            }
         }
      }
      &.name {
         left: 24%;
         width: 45%;
         height: 100%;
         justify-content: flex-start;
         font-weight: 600;
         letter-spacing: calc($default-size * 0.05);
      }
   }
}
