@import url('./main-menu-components/button.css');
@import url('./main-menu-components/pages/pages.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

/* General */
.main-menu {
   height: 100%;
   width: 100%;
   color: #fff;
   font-size: var(--default-size);
   position: relative;
}

.main-menu .bg {
   position: relative;
   width: 100%;
   height: 100%;
   background: radial-gradient(
      circle,
      rgba(0, 0, 0, 99) 0%,
      rgba(0, 0, 0, 0.8) 70%,
      rgba(0, 0, 0, 0.8) 100%
   );
}

/* Header */
.main-menu .header {
   position: absolute;
   top: 7%;
   left: 50%;
   width: 49%;
   height: calc(var(--default-size) * 2.6);
   line-height: calc(var(--default-size) * 2.6);
   text-align: center;
   transform: translateX(-50%);
   font-family: 'Roboto Mono', monospace;
   font-size: calc(var(--default-size) * 2.6);
   font-weight: 400;
   font-style: italic;
   /* animation: animate-header 800ms ease-in-out; */
   text-shadow: 0 0 calc(var(--default-size) * 0.8) rgb(0, 68, 26);
}

.main-menu .header span {
   color: rgb(184, 255, 231);
}

@keyframes animate-header {
   0% {
      opacity: 0;
      letter-spacing: calc(var(--default-size) * 2.6);
   }
   50% {
      opacity: 0;
   }
   100% {
      opacity: 1;
      letter-spacing: calc(var(--default-size) * 0);
   }
}

/* Go Back button */
.main-menu .go-back {
   position: absolute;
   left: 0;
   top: 0;
   transform: translate(-20%, -120%);
   width: calc(var(--default-size) * 1.5);
   height: calc(var(--default-size) * 1.5);
   display: flex;
   justify-content: center;
   align-items: center;
   border: calc(var(--default-size) * 0.1) solid #fff;
   line-height: calc(var(--default-size) * 1.3);
   font-size: calc(var(--default-size) * 1.3);
}
.main-menu .go-back:hover {
   background-color: rgba(50, 50, 50, 0.5);
}

/* Main Menu Error / Success Messages */
.main-menu-error {
   position: absolute;
   bottom: 0;
   left: 50%;
   transform: translate(-50%, 140%);
   width: 100%;
   text-align: center;
   background: rgb(136, 0, 0);
   background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(136, 0, 0, 1) 50%,
      rgba(0, 0, 0, 0) 100%
   );
   font-size: calc(var(--default-size) * 0.9);
}
.main-menu-success {
   position: absolute;
   bottom: 0;
   left: 50%;
   transform: translate(-50%, 140%);
   width: 100%;
   text-align: center;
   background: rgb(0, 109, 0);
   background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 109, 0, 1) 50%,
      rgba(0, 0, 0, 0) 100%
   );
   font-size: calc(var(--default-size) * 0.9);
}

/* Spinner */
.main-menu .spinner {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -63%);
   height: calc(var(--default-size) * 1.2);
}
.menu .spinner {
   position: absolute;
   top: -2%;
   left: 50%;
   transform: translate(-50%, -63%);
   height: calc(var(--default-size) * 1.2);
}
