.corp {
   position: relative;
   opacity: 0.5;
   width: calc(var(--default-size) * 18 * 1.422862);
   height: calc(var(--default-size) * 18);
   border-radius: calc(var(--default-size) * 1.5);
   box-shadow: 0 0 calc(var(--default-size) * 1.5) calc(var(--default-size) * 0.5) #000;
}
.modal-corp-container {
   border-radius: calc(var(--default-size) * 1.5);
}
.modal-corp-container .corp {
   opacity: 1;
}
.corp img {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   width: 100%;
   height: auto;
}

.corp.selected {
   opacity: 1;
   box-shadow: 0 0 calc(var(--default-size) * 1.5) calc(var(--default-size) * 0.5) #000,
      0 0 calc(var(--default-size) * 1.5) calc(var(--default-size) * 0.3) rgba(57, 253, 155, 0.6);
}
