.pass-container {
   position: absolute;
   height: 4%;
   width: 10%;
   top: 18%;
}

.pass-corp-snap {
   top: 0;
   position: absolute;
   width: 60%;
   height: 100%;
   background-color: green;
}

.pass-corp-snap-logo {
   font-size: smaller;
   height: 100%;
}

.pass-corp-tr {
   position: absolute;
   right: 0;
   top: 0;
   width: 40%;
   height: 100%;
}