/* General & Variables */
:root {
   /* Card view ratio*/
   --ratio-big: 1.9;
   /* Card snap ratio */
   --ratio-medium: 1.6;
   /* -------------- */
   box-sizing: border-box;
}

/* Containers */
.card-container {
   position: absolute;
   transform: translate(-50%, -50%);
}
.card-container.small {
   width: calc(var(--default-size) * 7.5);
   height: calc(var(--default-size) * 7.5 * 1.4);
   border-radius: calc(var(--default-size) * 0.5);
   box-shadow: 0 0 calc(var(--default-size) * 0.6) rgba(0, 0, 0, 1);
}
.card-container.medium {
   width: calc(var(--default-size) * 7.5 * var(--ratio-medium));
   height: calc(var(--default-size) * 7.5 * 1.4 * var(--ratio-medium));
   top: 61%;
   left: 135%;
   /* opacity: 0.7; */
   border-radius: calc(var(--default-size) * 0.5 * var(--ratio-medium));
   box-shadow: 0 0 calc(var(--default-size) * 0.8) rgba(0, 0, 0, 1);
}
.card-container.big {
   width: calc(var(--default-size) * 7.5 * var(--ratio-big));
   height: calc(var(--default-size) * 7.5 * 1.4 * var(--ratio-big));
   border-radius: calc(var(--default-size) * 0.5 * var(--ratio-big));
   box-shadow: 0 0 calc(var(--default-size) * 2.5) calc(var(--default-size) * 1) rgba(0, 0, 0, 0.8);
}

/* Card */
.card {
   position: absolute;
   border-radius: calc(var(--default-size) * 0.5);
}
.card-container.medium .card {
   border-radius: calc(var(--default-size) * 0.5 * var(--ratio-medium));
}
.card-container.big .card {
   border-radius: calc(var(--default-size) * 0.5 * var(--ratio-big));
}
.card-bg-green {
   background-color: rgb(13, 68, 13);
}
.card-bg-blue {
   background-color: rgb(25, 56, 114);
}
.card-bg-red {
   background-color: rgb(117, 27, 27);
}
.card > * {
   position: absolute;
}
.card .black-border {
   overflow: hidden;
   inset: calc(var(--default-size) * 0.15);
   border: calc(var(--default-size) * 0.1) solid #000;
   border-radius: calc(var(--default-size) * 0.5 * 0.8);
}
.card.card-bg-green .black-border {
   background: rgb(122, 153, 122);
   background: linear-gradient(
      135deg,
      rgb(21, 150, 9) 0%,
      rgb(161, 161, 161) 25%,
      rgb(55, 99, 57) 50%,
      rgb(161, 161, 161) 75%,
      rgb(4, 48, 6) 100%
   );
}
.card.card-bg-blue .black-border {
   background: rgb(122, 128, 153);
   background: linear-gradient(
      135deg,
      rgb(9, 47, 150) 0%,
      rgb(161, 161, 161) 25%,
      rgb(55, 67, 99) 50%,
      rgb(161, 161, 161) 75%,
      rgb(4, 14, 48) 100%
   );
}
.card.card-bg-red .black-border {
   background: rgb(153, 122, 122);
   background: linear-gradient(
      135deg,
      rgb(150, 9, 9) 0%,
      rgb(161, 161, 161) 25%,
      rgb(99, 55, 55) 50%,
      rgb(161, 161, 161) 75%,
      rgb(48, 4, 4) 100%
   );
}
.card-container.medium .card .black-border {
   inset: calc(var(--default-size) * 0.15 * var(--ratio-medium));
   border: calc(var(--default-size) * 0.1 * var(--ratio-medium)) solid #000;
   border-radius: calc(var(--default-size) * 0.5 * 0.8 * var(--ratio-medium));
}
.card-container.big .card .black-border {
   inset: calc(var(--default-size) * 0.15 * var(--ratio-big));
   border: calc(var(--default-size) * 0.1 * var(--ratio-big)) solid #000;
   border-radius: calc(var(--default-size) * 0.5 * 0.8 * var(--ratio-big));
}
.card .black-border > img {
   width: 102%;
   height: auto;
}

/* Cost */
.card .current-cost {
   transform: translate(-50%, -50%);
   top: 5%;
   left: 5%;
   width: 22%;
   aspect-ratio: 1;
   font-size: calc(var(--default-size) * 1.1);
}
.card-container.medium .card .current-cost {
   font-size: calc(var(--default-size) * 1.1 * var(--ratio-medium));
}
.card-container.big .card .current-cost {
   font-size: calc(var(--default-size) * 1.1 * var(--ratio-big));
}
.card .current-cost > *,
.card .original-cost > * {
   position: absolute;
   color: #000;
   font-weight: 700;
}
.card .original-cost {
   transform: translate(-50%, -50%);
   top: 21%;
   left: 5.2%;
   width: 18%;
   aspect-ratio: 1;
   opacity: 0.6;
   font-size: calc(var(--default-size) * 1.1 * 0.82);
}
.card-container.medium .card .original-cost {
   font-size: calc(var(--default-size) * 1.1 * 0.82 * var(--ratio-medium));
}
.card-container.big .card .original-cost {
   font-size: calc(var(--default-size) * 1.1 * 0.82 * var(--ratio-big));
}

/* Id */
.card .id {
   position: absolute;
   left: 18%;
   top: 4%;
   width: 14%;
   height: 8%;
   color: rgba(0, 0, 0, 0.3);
   background-color: rgba(255, 255, 255, 0.3);
   border-radius: 30%;
   display: flex;
   justify-content: center;
   align-items: center;
   font-weight: 700;
}
.card-container.medium .card .id {
   font-size: 84%;
}

/* Info */
.card .info-btn {
   position: absolute;
   right: 1%;
   top: 23.5%;
   width: calc(var(--default-size) * 1.4);
   height: calc(var(--default-size) * 1.4);
   color: rgba(9, 0, 87, 0.7);
   background-color: rgb(200, 200, 200);
   border: calc(var(--default-size) * 0.1) solid rgba(9, 0, 87, 0.7);
   border-radius: 50%;
   display: flex;
   justify-content: center;
   align-items: center;
   font-weight: 900;
}
.card .info-section {
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   top: 0;
   width: 100%;
   height: 100%;
   color: #000;
   background-color: rgba(255, 255, 255, 0.85);
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   font-size: calc(var(--default-size) * 0.8);
   font-weight: 500;
}
.card .info-section span {
   display: block;
   width: 95%;
   text-align: center;
   line-height: var(--default-size);
}
.card .info-section span:first-of-type {
   margin-top: 61%;
}
.card .info-section span:not(:last-of-type) {
   margin-bottom: calc(var(--default-size) * 0.3);
}

/* Tags */
.card .tags {
   height: 14.8%;
   top: -2.5%;
   right: -4%;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   gap: 2%;
}
.card .tags .tag {
   height: 100%;
   aspect-ratio: 1;
}
.card .tags .tag img {
   width: 100%;
   height: 100%;
}

/* Requirement */
.card .req {
   width: 65%;
   height: 10%;
   top: 15%;
   left: 50%;
   transform: translateX(-50%);
   background: rgb(255, 145, 0);
   background: linear-gradient(
      90deg,
      rgba(255, 145, 0, 1) 0%,
      rgba(255, 214, 0, 1) 50%,
      rgba(255, 145, 0, 1) 100%
   );
   display: flex;
   justify-content: center;
   align-items: center;
   color: #000;
   border: calc(var(--default-size) * 0.1) solid #333;
   box-shadow: 0 0 0 calc(var(--default-size) * 0.06) #fff;
   font-size: calc(var(--default-size) * 0.8);
   font-weight: 800;
}
.card-container.medium .card .req {
   border: calc(var(--default-size) * 0.1 * var(--ratio-medium)) solid #333;
   box-shadow: 0 0 0 calc(var(--default-size) * 0.06 * var(--ratio-medium)) #fff;
   font-size: calc(var(--default-size) * 0.8 * var(--ratio-medium));
}
.card-container.big .card .req {
   border: calc(var(--default-size) * 0.1 * var(--ratio-big)) solid #333;
   box-shadow: 0 0 0 calc(var(--default-size) * 0.06 * var(--ratio-big)) #fff;
   font-size: calc(var(--default-size) * 0.8 * var(--ratio-big));
}
.card .req .text {
   margin-right: 5%;
}
.card .req > .icon {
   height: 130%;
   margin-left: 1.5%;
   margin-right: 1.5%;
}
.card .req .icon-res {
   /* For Steel / Titan Production requirements (Great Escarpment Consortium or Asteroid Mining Consortium) */
   height: 84.5%;
}
.card .req > .icon-ox {
   position: absolute;
   height: 130%;
   aspect-ratio: 1;
}
.card .req .icon-ox .greenery {
   height: 100%;
}
.card .req .icon-ox .ox {
   position: absolute;
   height: 25%;
   right: 10%;
   top: 25%;
   transform: translate(50%, -50%);
}
.card .req.max {
   background: rgb(208, 0, 0);
   background: linear-gradient(
      90deg,
      rgba(208, 0, 0, 1) 0%,
      rgba(255, 142, 55, 1) 50%,
      rgba(208, 0, 0, 1) 100%
   );
}

/* Name */
.card .name {
   position: absolute;
   width: 170%;
   height: 15%;
   border-bottom-left-radius: 50%;
   border-bottom-right-radius: 50%;
   top: 27%;
   left: 50%;
   transform: translateX(-50%);
   font-size: smaller;
   font-weight: 500;
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: calc(var(--default-size) * 0.77);
}
.card-container.medium .card .name {
   font-size: calc(var(--default-size) * 0.77 * var(--ratio-medium));
}
.card-container.big .card .name {
   font-size: calc(var(--default-size) * 0.77 * var(--ratio-big));
}
.card .name.mid-long {
   font-size: calc(var(--default-size) * 0.67);
}
.card-container.medium .card .name.mid-long {
   font-size: calc(var(--default-size) * 0.67 * var(--ratio-medium));
}
.card-container.big .card .name.mid-long {
   font-size: calc(var(--default-size) * 0.67 * var(--ratio-big));
}
.card .name.long {
   font-size: calc(var(--default-size) * 0.57);
}
.card-container.medium .card .name.long {
   font-size: calc(var(--default-size) * 0.57 * var(--ratio-medium));
}
.card-container.big .card .name.long {
   font-size: calc(var(--default-size) * 0.57 * var(--ratio-big));
}

/* Effect */
.card .effect {
   position: absolute;
   left: 50%;
   top: 44%;
   transform: translateX(-50%);
   width: 95%;
   height: 35%;
}
.card .effect img {
   height: 100%;
}

/* Description */
.card .description {
   position: absolute;
   left: 50%;
   transform: translateX(-50%);
   bottom: 2%;
   width: 95%;
   font-size: calc(var(--default-size) * 0.8);
   line-height: calc(var(--default-size) * 0.8);
   text-align: center;
   color: #000;
   font-weight: 500;
}
.card-container.medium .card .description {
   font-size: calc(var(--default-size) * 0.8 * 0.84);
}
.card .description.with-vp {
   width: 66%;
   left: 2.8%;
   transform: translateX(0);
}

/* VP */
.card .vp-container {
   position: absolute;
   right: calc(var(--default-size) * 0.1);
   bottom: calc(var(--default-size) * 0.1);
   width: calc(var(--default-size) * 2);
   height: calc(var(--default-size) * 2);
}
.card-container.medium .card .vp-container {
   right: calc(var(--default-size) * 0.1 * var(--ratio-medium));
   bottom: calc(var(--default-size) * 0.1 * var(--ratio-medium));
   width: calc(var(--default-size) * 2 * var(--ratio-medium));
   height: calc(var(--default-size) * 2 * var(--ratio-medium));
}
.card-container.big .card .vp-container {
   right: calc(var(--default-size) * 0.1 * var(--ratio-big));
   bottom: calc(var(--default-size) * 0.1 * var(--ratio-big));
   width: calc(var(--default-size) * 2 * var(--ratio-big));
   height: calc(var(--default-size) * 2 * var(--ratio-big));
}
.card .vp-container .vp {
   width: 100%;
   height: 100%;
}

/* Card selected */
.card-container.selected {
   box-shadow: 0 0 calc(var(--default-size) * 0.8) 0 rgba(0, 158, 79, 0.5);
}

/* Card disabled */
.card.disabled {
   opacity: 0.3;
}

/* Mln icon next to button */
.card-to-buy-mln {
   position: absolute;
   bottom: 0;
   left: 75%;
   height: 11%;
   transform: translate(-50%, 100%);
   width: 20%;
   background-color: yellow;
   color: #000;
   display: flex;
   justify-content: center;
   align-items: center;
}
