/* Button */
.btn-goto {
   width: calc(var(--default-size) * 5.3);
   height: calc(var(--default-size) * 1.3);
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: calc(var(--default-size) * 0.8);
   line-height: calc(var(--default-size) * 0.8);
   letter-spacing: calc(var(--default-size) * 0.1);
   font-weight: 500;
   background-color: rgba(0, 90, 62, 0.5);
   border: calc(var(--default-size) * 0.1) solid rgba(0, 158, 108, 0.5);
   border-radius: calc(var(--default-size) * 0.2);
}
.btn-goto:hover {
   background-color: rgba(0, 133, 91, 0.5);
   border: calc(var(--default-size) * 0.1) solid rgba(132, 255, 216, 0.5);
   border-radius: calc(var(--default-size) * 0.2);
}