@import url('./general.css');
@import url('./player.css');
@import url('./games.css');
@import url('./filters.css');
@import url('./btn-goto.css');

/* General */
.main-menu .tabs-container {
   width: 95%;
   height: 79%;
   top: 56%;
   background-color: transparent;
   padding: calc(var(--default-size) * 0.6);
}
.tabs-container .stats {
   position: relative;
   width: 100%;
   height: calc(100% - var(--default-size) * 1.6);
   top: calc(var(--default-size) * 1.6);
   background-color: rgba(0, 0, 0, 0.5);
   border-left: calc(var(--default-size) * 0.12) solid #111;
   border-bottom: calc(var(--default-size) * 0.12) solid #111;
   border-right: calc(var(--default-size) * 0.12) solid #111;
   padding: calc(var(--default-size) * 0.5);
}
.tabs-container span {
   transform: translateY(4%);
}

/* General Borders */
.tabs-container .stats::after,
.tabs-container .stats::before {
   content: '';
   position: absolute;
   top: 0;
   background-color: #111;
   height: calc(var(--default-size) * 0.12);
}
/* Two tabs */
.tabs-container .stats::after {
   left: 12.2%;
   width: 87.9%;
}
.tabs-container .stats.second-tab::before {
   left: 0;
   width: 12.45%;
}
.tabs-container .stats.second-tab::after {
   left: 24.65%;
   width: 75.5%;
}
/* Three Tabs */
.tabs-container .stats.three-tabs::after {
   left: 13.5%;
   width: 86.6%;
}
.tabs-container .stats.three-tabs.second-tab::before {
   left: 0;
   width: 13.8%;
}
.tabs-container .stats.three-tabs.second-tab::after {
   left: 27.4%;
   width: 72.7%;
}
.tabs-container .stats.three-tabs.third-tab::before {
   left: 0;
   width: 27.6%;
}
.tabs-container .stats.three-tabs.third-tab::after {
   left: 41.3%;
   width: 58.8%;
}

/* Tabs */
.tabs-container .stats .tabs {
   position: absolute;
   left: calc(var(--default-size) * -0.12);
   top: 0;
   transform: translateY(-100%);
   width: 25%;
   height: calc(var(--default-size) * 1.6);
   display: flex;
}
.tabs-container .stats.three-tabs .tabs {
   width: 42%
}
.tabs-container .stats .tabs .tab {
   width: 50%;
   display: flex;
   justify-content: center;
   align-items: flex-end;
}
.tabs-container .stats.three-tabs .tabs .tab {
   width: 33%
}
.tabs-container .stats .tabs .tab.active {
   border-left: calc(var(--default-size) * 0.12) solid #111;
   border-top: calc(var(--default-size) * 0.12) solid #111;
   border-right: calc(var(--default-size) * 0.12) solid #111;
   background: rgb(30, 30, 30);
   background: linear-gradient(0deg, rgb(0, 0, 0) 0%, rgb(0, 0, 0) 50%, rgba(30, 30, 30, 0.5) 100%);
}

/* Modal - General*/
.main-menu .modal {
   border-radius: calc(var(--default-size) * 0.5);
   width: 55%;
   height: 40%;
   background: rgb(0, 10, 7);
   background: linear-gradient(
      0deg,
      rgba(0, 10, 1, 0.8) 0%,
      rgba(0, 1, 1, 0.8) 10%,
      rgba(0, 1, 1, 0.8) 90%,
      rgba(0, 10, 1, 0.8) 100%
   );
   padding: calc(var(--default-size) * 2);
   letter-spacing: calc(var(--default-size) * 0.1);
   font-size: calc(var(--default-size) * 1.5);
   box-shadow: 0 0 0 calc(var(--default-size) * 0.35) #000,
      0 0 0 calc(var(--default-size) * 0.5) rgb(0, 133, 91);
}
/* Modal - Textarea */
.main-menu .modal textarea {
   position: absolute;
   width: 90%;
   height: 70%;
   resize: none;
   outline: none;
   border: calc(var(--default-size) * 0.1) solid rgba(0, 133, 91, 0.2);
   background-color: transparent;
   border-radius: calc(var(--default-size) * 0.4);
   color: #fff;
   padding: calc(var(--default-size) * 0.8);
   font-size: var(--default-size);
   line-height: calc(var(--default-size) * 1.1);
}
.main-menu .modal textarea.edit {
   background-color: rgba(255, 255, 255, 0.03);
}
.main-menu .modal textarea::-webkit-scrollbar {
   width: calc(var(--default-size) * 0.5);
}
/* Modal - Buttons - General */
.main-menu .modal .btns {
   position: absolute;
   width: 90%;
   height: 10%;
   bottom: 3%;
   display: flex;
   align-items: center;
}
/* Modal - Buttons - Edit */
.main-menu .modal .btn-edit {
   height: 100%;
   width: max-content;
   display: flex;
   align-items: center;
   color: rgb(0, 133, 91);
   margin-right: calc(var(--default-size) * 1.2);
}
.main-menu .modal .btn-edit:hover {
   color: rgb(0, 203, 141);
}
.main-menu .modal .btn-edit svg {
   height: calc(var(--default-size) * 1.2);
}
/* Modal - Buttons - Save */
.main-menu .modal .btn-save {
   width: calc(var(--default-size) * 3.5);
   height: calc(var(--default-size) * 1.3);
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: calc(var(--default-size) * 0.8);
   line-height: calc(var(--default-size) * 0.8);
   letter-spacing: calc(var(--default-size) * 0.1);
   font-weight: 500;
   background-color: rgba(0, 90, 62, 0.5);
   border: calc(var(--default-size) * 0.1) solid rgba(0, 158, 108, 0.5);
   border-radius: calc(var(--default-size) * 0.2);
}
.main-menu .modal .btn-save:not(.disabled):hover {
   background-color: rgba(0, 133, 91, 0.5);
   border: calc(var(--default-size) * 0.1) solid rgba(132, 255, 216, 0.5);
   border-radius: calc(var(--default-size) * 0.2);
}
.main-menu .modal .btn-save.disabled {
   background-color: rgb(87, 87, 87);
   border: calc(var(--default-size) * 0.1) solid rgb(161, 161, 161);
   border-radius: calc(var(--default-size) * 0.3);
}
/* Modal - Error */
.main-menu .modal .error {
   position: absolute;
   bottom: 3.4%;
   left: 60%;
   transform: translateX(-50%);
   width: 70%;
   text-align: center;
   background: rgb(136, 0, 0);
   background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(136, 0, 0, 1) 50%,
      rgba(0, 0, 0, 0) 100%
   );
   font-size: calc(var(--default-size) * 0.9);
   overflow: hidden;
}
/* Modal - Title */
.main-menu .modal .title {
   position: absolute;
   left: calc(var(--default-size) * 2);
   top: 3%;
   font-size: calc(var(--default-size) * 1.1);
   color: rgba(0, 253, 191, 1);
}
