/* Music Button to mute / unmute */
.app .btn-music {
   position: absolute;
   right: calc($default-size * 0.3);
   top: calc($default-size * 0.5);
   width: calc($default-size * 1.4);
   height: calc($default-size * 1.4);
}