.menu-container a {
   &:link {
      color: #fff;
      text-decoration: none;
   }
   &:visited {
      color: #fff;
   }
   &:hover {
      color: #ddd;
   }
   &:active {
      color: #fff;
   }
}