.menu-container a:link {
   color: #fff;
   text-decoration: none;
}

.menu-container a:visited {
   color: #fff;
}

.menu-container a:hover {
   color: #ddd;

}

.menu-container a:active {
   color: #fff;

}