@import './arrows/arrows';
@import './decreaseCost/styles';

/* InsulationSection, PowerInfrasSection, SelectOptionSection */
.select-one-section {
   position: absolute;
   top: 5%;
   right: calc($default-size * -1);
   transform: translateX(100%);
   width: calc($default-size * 7.5);
   background-color: rgba(0, 0, 0, 0.5);
   /* height: 60%; */
   display: flex;
   flex-direction: column;
   align-items: center;
   border: calc($default-size * 0.1) solid #666;
   padding: calc($default-size * 0.5);
   line-height: calc($default-size * 0.8);
   .header {
      padding-bottom: calc($default-size * 0.6);
      color: #fff;
      font-size: calc($default-size * 1);
   }
   .option {
      width: 100%;
      position: relative;
      height: calc($default-size * 1.6);
      display: flex;
      justify-content: center;
      align-items: center;
      &:not(:nth-last-of-type(2)) {
         margin-bottom: calc($default-size * 0.3);
      }
      img {
         height: 90%;
         &.disabled {
            opacity: 0.4;
         }
      }
      &.selected {
         outline: #fff solid calc($default-size * 0.12);
      }
   }
   .card-decrease-cost {
      position: relative;
      .amount {
         position: absolute;
         left: 0;
         height: 100%;
         width: 40%;
         display: flex;
         justify-content: flex-end;
         align-items: center;
      }
      .icon {
         position: absolute;
         right: 0;
         height: 100%;
         width: 52%;
         img {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            aspect-ratio: 1;
            margin-left: 0;
            &:last-of-type {
               height: calc(100% - $default-size * 0.4);
               left: calc($default-size * 0.2);
            }
            &:first-of-type {
               height: 100%;
               left: 0;
            }
         }
      }
   }
}