.cards-arrows {
   width: 94%;
   height: 35%;
}

.cards-arrow {
   position: absolute;
   width: calc($default-size * 4.5);
   height: calc($default-size * 4.5 * 2.8747225);
   top: 50%;
   opacity: 0.4;
   &:hover {
      opacity: 0.5;
   }
   &.arrow-left {
      left: 0;
      transform: translateY(-50%);
   }
   &.arrow-right {
      right: 0;
      transform: translateY(-50%);
   }
}