.cards-arrows {
   width: 94%;
   height: 35%;
}

.cards-arrow {
   position: absolute;
   width: calc(var(--default-size) * 4.5);
   height: calc(var(--default-size) * 4.5 * 2.8747225);
   top: 50%;
   opacity: 0.4;
}
.cards-arrow:hover {
   opacity: 0.5;
}

.cards-arrow.arrow-left {
   left: 0;
   transform: translateY(-50%);
}

.cards-arrow.arrow-right {
   right: 0;
   transform: translateY(-50%);
}