.arrows {
   width: 75%;
   height: 35%;
}

.arrow {
   position: absolute;
   width: 10%;
   height: 100%;
   background-color: green;
   top: 50%;
   cursor: pointer;
}

.arrow.arrow-left {
   left: 0;
   transform: translate(-50%, -50%);
}

.arrow.arrow-right {
   right: 0;
   transform: translate(50%, -50%);
}