.anim-prod-res {
   position: absolute;
   width: calc(var(--default-size) * 2.3);
   height: calc(var(--default-size) * 2.3);
   animation-timing-function: ease-in-out;
   animation-iteration-count: infinite;
   top: 50%;
   transform: translateY(-50%);
}

.anim-prod-res .img-prod {
   position: absolute;
   display: block;
   justify-content: center;
   align-items: center;
   height: 100%;
}

.anim-prod-res .img-res {
   position: absolute;
   display: block;
   width: 65%;
   height: 65%;
}

.anim-prod-res .value {
   position: absolute;
   display: flex;
   justify-content: center;
   width: calc(var(--default-size) * 2);
   align-items: center;
   font-size: var(--default-size);
   color: #000;
   font-weight: 700;
}
.anim-prod-res.not-mln-prod .value,
.anim-prod-res.not-mln-res .value {
   position: absolute;
   display: flex;
   justify-content: flex-end;
   font-weight: 500;
   color: #fff;
}
.anim-prod-res.not-mln-prod .value {
   left: unset;
   right: calc(var(--default-size) * 1.6) !important;
   font-size: calc(var(--default-size) * 1.2);
}
.anim-prod-res.not-mln-res .value {
   left: unset;
   right: calc(var(--default-size) * 1.3) !important;
}

.anim-prod-res-in {
   animation-name: animate-prod-res-in;
}
.anim-prod-res-out {
   animation-name: animate-prod-res-out;
}

@keyframes animate-prod-res-in {
   0% {
      opacity: 0;
      right: -200%;
   }
   20% {
      opacity: 1;
      right: -150%;
   }
   80% {
      opacity: 1;
      right: -150%;
   }
   100% {
      opacity: 0;
      right: -100%;
   }
}

@keyframes animate-prod-res-out {
   0% {
      opacity: 0;
      right: -100%;
   }
   20% {
      opacity: 1;
      right: -150%;
   }
   80% {
      opacity: 1;
      right: -150%;
   }
   100% {
      opacity: 0;
      right: -200%;
   }
}
