@import './modalCards/modalCards';
@import './modalConfirmation/modalConfirmation';
@import './modalCorps/modalCorps';
@import './modalEndStats/modalEndStats';
@import './modalLog/modalLog';
@import './modalMenu/modalMenu';
@import './modalOther/styles';
@import './modalResources/styles';
@import './modalRules/modalRules';
@import './modalsComponents/styles';
@import './modalSelectCard/modalSelectCard';
@import './modalSettings/modalSettings';
@import './modalStandardProjects/modalStandardProjects';

.modal-background {
   position: absolute;
   top: 0;
   left: 0;
   background-color: rgba(0, 0, 0, 0.8);
   width: 100%;
   height: 100%;
}

.modal-corp-container {
   background-color: rgba(0, 0, 0, 0.8);
}

/* Modal Select Cards: ModalBusinessContacts, ModalMarsUniversity, ModalSellCards */
/* Background */
.modal-select-cards {
   position: absolute;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   width: 80%;
   height: 85%;
   background: rgb(0, 0, 0);
   background: radial-gradient(circle, rgba(0, 0, 0, 1) 10%, rgba(0, 0, 0, 0) 100%);
   overflow: hidden;

   /* Box */
   .box {
      position: absolute;
      transition: left 350ms cubic-bezier(0.09, 0.58, 0.26, 0.97);
   }

   /* Header - General */
   .header {
      position: absolute;
      top: calc($default-size * 0.6);
      width: 100%;
      height: 5%;
      background: rgb(0, 0, 0);
      background: linear-gradient(
         90deg,
         rgba(0, 0, 0, 0) 15%,
         rgba(0, 133, 91, 0.8) 50%,
         rgba(0, 0, 0, 0) 95%
      );

      /* Header - Middle Text */
      .text {
         position: absolute;
         font-size: calc($default-size * 1.7);
      }

      /* Header - Right text (...Each) */
      .eachText {
         position: absolute;
         right: 0;
         top: 50%;
         width: 10%;
         height: 100%;
         transform: translateY(-50%);
         font-size: calc($default-size * 1.4);
         display: flex;
         justify-content: flex-end;
         align-items: center;
         .icon {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: calc($default-size * 2.7);
            height: 120%;
            width: calc($default-size * 1.9);
            span,
            img {
               height: 100%;
               color: #000;
               font-weight: 700;
               line-height: calc($default-size * 2);
            }
         }
      }
   }
}
