@import url('./stats1/stats1.css');
@import url('./stats2/stats2.css');

/* Overview */
.overview {
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   column-gap: calc(var(--default-size) * 0.6);
}
.overview > div {
   width: 100%;
}
.overview .table,
.overview .chart-container {
   border: calc(var(--default-size) * 0.12) solid rgba(255, 255, 255, 0.05);
}

/* Overview - Table - General */
.overview .table {
   margin-top: calc(var(--default-size) * 2);
   font-size: calc(var(--default-size) * 0.85);
   display: flex;
   justify-content: center;
   padding: calc(var(--default-size) * 0.1);
}
.overview .table table {
   border-spacing: 0;
}
/* Overview - Table - Player Name */
.overview .table .player-name {
   position: absolute;
   left: calc(var(--default-size) * 0.6);
   top: 2%;
   text-align: center;
   font-size: calc(var(--default-size) * 1.3);
   letter-spacing: calc(var(--default-size) * 0.1);
   color: rgba(150, 255, 241, 0.9);
}
/* Overview - Table - Headers */
.overview .table thead tr {
   line-height: var(--default-size);
   background: rgb(30, 30, 30);
   background: linear-gradient(0deg, rgba(30, 30, 30, 0.5) 0%, rgba(0, 0, 0, 0) 50%, rgba(30, 30, 30, 0.5) 100%);
}
.overview .table thead td:first-of-type,
.overview .table td,
.overview .table tfoot td:first-of-type {
   text-align: center;
}
/* Overview - Table - Body */
.overview .table td {
   width: 11%;
}
.overview .table tr:nth-of-type(n + 1) td {
   border-bottom: calc(var(--default-size) * 0.05) solid rgba(255, 255, 255, 0.06);
}
.overview .table tr:nth-last-of-type(1) td {
   border-bottom: none;
}
/* Overview - Table - Body (corporations) */
.overview .table td:first-of-type {
   width: 34%;
   padding: 0 calc(var(--default-size) * 0.3);
   text-align: left;
}
/* Overview - Table - Total Line */
.overview .table tfoot tr {
   background: rgb(30, 30, 30);
   background: linear-gradient(0deg, rgba(30, 30, 30, 0.5) 0%, rgba(0, 0, 0, 0) 50%, rgba(30, 30, 30, 0.5) 100%);
}

/* Overview - Charts */
.overview .charts {
   height: calc(100% - var(--default-size) * 2);
}
.overview .charts .charts-title {
   height: calc(var(--default-size) * 2);
   display: flex;
   justify-content: center;
   align-items: flex-end;
}
.overview .chart-container {
   position: relative;
   overflow-x: hidden;
}
.overview .chart-container-1 {
   height: 65%;
   margin-block-end: calc(var(--default-size) * 0.6);
}
.overview .chart-container-2 {
   height: calc(35% - var(--default-size) * 0.6);
}

/* Overview - Chart - background */
.overview .chart-container .chart-bg {
   position: absolute;
   left: 12%;
   top: calc(var(--default-size) * 0.5);
   width: 80%;
   height: calc(100% - var(--default-size) * 2);
}

/* Overview - Chart - ranges (axisY legend) */
.overview .chart-container .chart-bg .ranges {
   position: absolute;
   left: 0;
   height: 100%;
   transform: translateX(-120%);
   font-size: calc(var(--default-size) * 0.75);
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   align-items: flex-end;
}
.overview .chart-container .chart-bg .ranges div {
   text-align: end;
   display: flex;
   align-items: center;
   height: calc(var(--default-size) * 0.8);
}

/* Overview - Chart - vertical lines */
.overview .chart-container .chart-bg .axisY {
   position: absolute;
   top: 0;
   width: calc(var(--default-size) * 0.1);
   height: 100%;
   background-color: rgba(255, 255, 255, 0.2);
}
.overview .chart-container .chart-bg .axisY.axisY-help {
   background-color: rgba(255, 255, 255, 0.06);
}
.overview .chart-container .chart-bg .axisY > span {
   position: absolute;
   bottom: 0;
   left: 50%;
   transform: translate(-50%, 100%);
   font-size: calc(var(--default-size) * 0.8);
}
.overview .chart-container .chart-bg .axisY.axisY-help.hidden {
   display: none;
}

/* Overview - Chart - bars */
.overview .chart-container .chart-bg .bars {
   position: absolute;
   left: calc(var(--default-size) * 0.1);
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
}
.overview .chart-container .chart-bg .bar-percentage {
   position: absolute;
   right: 0;
   top: 50%;
   transform: translate(120%, -50%);
}

/* Details - General*/
.details {
   margin-top: calc(var(--default-size) * 3);
}
/* Details - Player Name */
.details .player-name {
   position: absolute;
   left: calc(var(--default-size) * 0.6);
   top: 2%;
   text-align: center;
   font-size: calc(var(--default-size) * 1.3);
   letter-spacing: calc(var(--default-size) * 0.1);
   color: rgba(150, 255, 241, 0.9);
}
