@import url('./modal-draft-change-corp-btn.css');
@import url('./modal-draft-header.css');
@import url('./modal-draft-done-btn.css');

.modal-draft {
   width: 70%;
   height: 70%;
   background-color: rgba(0, 0, 0, 0.9);
   opacity: 1;
}
