.modal-standard-projects-box {
   width: 30%;
   height: 70%;
   background: rgb(0, 133, 104);
   background: linear-gradient(
      180deg,
      rgba(0, 133, 104, 1) 0%,
      rgba(0, 200, 156, 1) 50%,
      rgba(0, 133, 104, 1) 100%
   );
   padding: var(--default-size);
}

.modal-standard-projects-box-header {
   position: absolute;
   left: 0;
   top: -5%;
}