.modal-other-data-tags {
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-auto-rows: calc(var(--default-size) * 2.5);
   gap: calc(var(--default-size) * 0.6);
}

.modal-other-data-item div {
   height: 100%;
   display: flex;
   align-items: center;
}

.modal-other-data-item div .img-tags {
   margin-left: calc(var(--default-size) * 0.5);
   height: 130%;
   vertical-align: middle;
}