@import url('./modal-other-data-res.css');
@import url('./modal-other-data-tags.css');
@import url('./modal-other-data-vp.css');
@import url('./modal-other-data-actions.css');
@import url('./modal-other-data-effects.css');

.modal-other-box-no-data {
   display: flex;
   justify-content: center;
   align-items: center;
   font-size: calc(var(--default-size) * 1.5);
}


.modal-other-data {
   overflow-y: auto;
   width: calc(100% - var(--default-size) * 2);
   height: calc(100% - var(--default-size) * 2);
}

.modal-other-data-item {
   background-color: rgba(0, 0, 0, 0.5);
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: calc(var(--default-size) * 0.6);
   height: calc(var(--default-size) * 2.5);
   font-size: calc(var(--default-size) * 1.3);
}
.modal-other-data-item:not(:last-of-type) {
   margin-bottom: calc(var(--default-size) * 1);
}

.modal-other-card {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   left: 100%;
   width: calc(var(--default-size) * 12);
   height: calc(var(--default-size) * 18);
}

.modal-other-data-item.selected {
   outline: #fff solid calc(var(--default-size) * 0.2);
}