@import url('./prod-res-snap.css');
@import url('./panel-corp-action-btn.css');

.prod-res-panel {
   position: absolute;
   width: 33%;
   height: 100%;
   right: 50%;
   top: 50%;
   transform: translateY(-50%);
   background-color: rgba(0, 0, 0, 0.4);
   display: flex;
   align-items: center;
}