.modal-menu {
   position: relative;
   left: 0;
   top: 0;
   width: 25%;
   height: 100%;
   background: rgb(0, 0, 0);
   background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.95) 0%,
      rgba(0, 0, 0, 0.95) 68%,
      rgba(10, 10, 10, 0.95) 100%
   );
   letter-spacing: calc($default-size * 0.12);
   ul {
      position: absolute;
      right: 0;
      top: 10%;
      width: 100%;
      list-style: none;
      li {
         padding-right: 5%;
         text-align: right;
         font-size: calc($default-size * 1.1);
         font-weight: 500;
         font-style: italic;
         &:not(:first-of-type) {
            margin-top: 0%;
         }
         &:hover {
            background: rgb(0, 255, 175);
            background: linear-gradient(
               90deg,
               rgba(0, 255, 175, 0.2) 0%,
               rgba(0, 255, 175, 0.2) 68%,
               rgba(0, 255, 175, 0.4) 100%
            );
         }
      }
   }
   .game-id {
      font-size: calc($default-size * 0.8);
      text-align: center;
      .id {
         user-select: all !important;
      }
   }
}