.stats2-box {
   display: flex;
   justify-content: space-evenly;
   /* align-items: center; */
   width: 100%;
   height: calc(var(--default-size) * 26);
   padding: calc(var(--default-size) * 1.5);
   padding-top: calc(var(--default-size) * 2.5);
}

.stats2-box > div {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: center;
   font-size: calc(var(--default-size) * 0.9);
   border: calc(var(--default-size) * 0.1) solid rgba(255, 255, 255, 0.08);
   padding: calc(var(--default-size) * 0.4);
}

.stats2-box > div > div:first-child {
   width: 100%;
   text-align: center;
   margin-bottom: calc(var(--default-size) * 0.6);
}
.stats2-box > div > div:nth-child(3) {
   margin-top: calc(var(--default-size) * 0.3);
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   height: 100%;
}

.stats2-percentages-line {
   width: calc(var(--default-size) * 10);
   line-height: calc(var(--default-size) * 1.1);
   margin-block: calc(var(--default-size) * 0.04);
   height: calc(var(--default-size) * 1.15);
}
.stats2-percentages-line.is-zero {
   color: rgba(255, 255, 255, 0.2);
}
.stats2-percentages-line > span {
   display: inline-block;
}
.stats2-percentages-line > span:nth-child(1) {
   width: calc(var(--default-size) * 1.8);
   text-align: right;
}
.stats2-percentages-line > span:nth-child(3) {
   width: calc(var(--default-size) * 1.2);
   text-align: right;
}
.stats2-percentages-line > span:nth-child(5) {
   width: calc(var(--default-size) * 1.7);
}
.stats2-percentages-line > span:nth-child(5) > span {
   color: rgba(255, 255, 255, 0.5);
   font-size: smaller;
   vertical-align: middle;
}
.stats2-percentages-line.is-zero > span:nth-child(5) > span {
   color: rgba(255, 255, 255, 0.1);
}
.stats2-percentages-line > span:nth-child(6),
.stats2-percentages-line > span:nth-child(7),
.stats2-percentages-line > span:nth-child(8),
.stats2-percentages-line > span:nth-child(9),
.stats2-percentages-line > span:nth-child(10) {
   color: rgba(255, 255, 255, 0.5);
}
