.card-decrease-cost-container {
   position: absolute;
   top: 0;
   right: calc($default-size * -1);
   transform: translateX(100%);
   background-color: rgba(0, 0, 0, 0.5);
   width: calc($default-size * 6);
   display: flex;
   flex-direction: column;
   align-items: center;
   border: calc($default-size * 0.1) solid #666;
   padding: calc($default-size * 0.5);
   line-height: calc($default-size * 0.8);
   &.draft {
      height: 7.3%;
      top: unset;
      bottom: 0%;
      left: 60%;
      transform: translate(0, 0);
      padding: calc($default-size * 0.3) calc($default-size * 0.4);
   }
   .mln {
      position: relative;
      height: calc($default-size * 1.7);
      aspect-ratio: 1;
      margin-bottom: calc($default-size * 0.3);
      span, img {
         position: absolute;
         color: #000;
         font-size: calc($default-size * 1.1);
         font-weight: 800;
      }
   }
}

.card-decrease-cost-header {
   font-size: calc($default-size * 0.85);
   margin-bottom: calc($default-size * 0.3);
}

.card-decrease-cost {
   position: relative;
   width: calc(100% - $default-size * 0.7 * 2);
   height: calc($default-size * 1.5);
   background-color: rgba(50, 50, 50, 0.5);
   display: flex;
   justify-content: center;
   align-items: center;
   span {
      font-size: calc($default-size * 1.1);
   }
   img {
      height: 90%;
      margin-left: calc($default-size * 0.3);
   }
   &:not(:last-of-type) {
      margin-bottom: calc($default-size * 0.5);
   }
}

.decrease-arrow {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   background-color: transparent;
   &-left {
      left: calc($default-size * -1.755) !important;
      border-right: calc($default-size * 0.75) solid rgb(0, 133, 91);
      border-bottom: calc($default-size * 0.75) solid transparent;
      border-left: calc($default-size * 0.75) solid transparent;
      border-top: calc($default-size * 0.75) solid transparent;
      &:hover {
         border-right: calc($default-size * 0.75) solid rgb(0, 255, 174);
      }
   }
   &-right {
      right: calc($default-size * -1.75);
      border-right: calc($default-size * 0.75) solid transparent;
      border-bottom: calc($default-size * 0.75) solid transparent;
      border-left: calc($default-size * 0.75) solid rgb(0, 133, 91);
      border-top: calc($default-size * 0.75) solid transparent;
      &:hover {
         border-left: calc($default-size * 0.75) solid rgb(0, 255, 174);
      }
   }
}