.card-decrease-cost-container {
   position: absolute;
   right: 0;
   top: 8%;
   transform: translateX(100%);
   background-color: black;
   width: 30%;
   height: 25%;
   display: flex;
   flex-direction: column;
   align-items: center;
   border: calc(var(--default-size) * 0.1) solid #fff;
}

.card-decrease-cost-header,
.card-decrease-cost span {
   font-size: calc(var(--default-size) * 0.8);
}

.card-decrease-cost {
   position: relative;
   width: 80%;
   height: 30%;
   background-color: #333;
   margin-bottom: 10%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.decrease-arrow {
   position: absolute;
   width: 20%;
   height: 100%;
   background-color: green;
   cursor: pointer;
   top: 0;
}

.decrease-arrow-left {
   left: 0;
}

.decrease-arrow-right {
   right: 0;
}