.modal-confirmation {
   /* General */
   .qmid-play-container {
      position: absolute;
      left: 70%;
      top: 45%;
      transform: translate(-50%, -50%);
      display: flex;
      justify-content: center;
      align-items: center;
   }
   /* Title Text */
   .title {
      position: absolute;
      left: 50%;
      top: 8%;
      transform: translate(-50%, 0%)
   }
   /* Tip Text */
   .tip {
      position: absolute;
      left: 50%;
      bottom: 2%;
      transform: translate(-50%, 0%);
      font-size: calc($default-size * 0.8);
   }
   /* Play (given Id) section */
   .qmid-play-container {
      input {
         margin-right: calc($default-size * 0.5);
         height: calc($default-size * 1.7);
         width: calc($default-size * 10);
         border-radius: calc($default-size * 0.4);
         background-color: #000;
         color: #fff;
         padding: 0 calc($default-size * 0.3);
         border: calc($default-size * 0.05) solid rgba(255, 255, 255, 0.5);
         outline: none;
         font-size: calc($default-size * 0.9);
         &:hover, &:focus {
            background-color: #000
         }
         &:hover {
            border: calc($default-size * 0.05) solid rgba(255, 255, 255, 0.8);
         }
      }
      .error {
         position: absolute;
         bottom: -80%;
         left: 50%;
         transform: translateX(-50%);
         width: 100%;
         text-align: center;
         background: rgb(136, 0, 0);
         background: linear-gradient(
            90deg,
            rgba(0, 0, 0, 0) 0%,
            rgba(136, 0, 0, 1) 50%,
            rgba(0, 0, 0, 0) 100%
         );
         font-size: calc($default-size * 0.9);
         overflow: hidden;
      }
   }
}