.select-one-section {
   position: absolute;
   left: 100%;
   top: 5%;
   width: 50%;
   height: 60%;
   background-color: #000;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 5%;
}

.select-one-section .header {
   height: calc(var(--default-size) * 2);
   background-color: red;
   color: #fff;
}

.select-one-section .option {
   position: relative;
   height: calc(var(--default-size) * 1.8);
   background-color: green;
}

.select-one-section .option img {
   height: 100%;
}
.select-one-section .option .disabled {
   position: absolute;
   background-color: rgba(0, 0, 0, 0.6);
   top: 0;
}

.select-one-section .option.selected {
   outline: #fff solid calc(var(--default-size) * 0.2);
}