.action {
   width: 100%;
   height: 12%;
   margin-bottom: 7%;
   background-color:rgb(0, 100, 79);
   position: relative;
}

.action:hover {
   outline: #fff solid calc(var(--default-size) * 0.2);
   background-color:rgb(0, 70, 55);
}

.action-element {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   display: flex;
   justify-content: center;
   align-items: center;
}

.action-icon {
   left: 2%;
   width: 15%;
   height: 90%;
   background-color: rgba(255, 0, 0, 0.212);

}
.action-name {
   left: 18%;
   width: 45%;
   height: 100%;
   justify-content: flex-start;
}
.action-cost {
   right: 0;
   width: 13%;
   height: 90%;
   background-color: yellow;
   color: #000;
}
.action-btn {
   right: 15%;
   width: 25%;
   height: 90%;
   background-color: rgb(0, 124, 83);
}

.action-btn:hover {
   background-color: rgb(0, 153, 102);
}

.action.disabled .action-btn {
   background-color: rgb(0, 51, 34);
   color: #ddd;
}