@import url('./account.css');
@import url('./menu.css');
@import url('./credits.css');
@import url('./login-register.css');
@import url('./rules.css');
@import url('./settings.css');
@import url('./stats.css');

/* Container of the page */
.main-menu .window-container::before {
   content: '';
   position: absolute;
   background-color: transparent;
   left: 0;
   bottom: 0;
   width: calc(100% - calc(var(--default-size) * 0.1));
   height: calc(var(--default-size) * 1);
   border-left: calc(var(--default-size) * 0.1) solid rgb(0, 133, 91);
   border-bottom: calc(var(--default-size) * 0.1) solid rgb(0, 133, 91);
   z-index: -1;
}

.main-menu .window-container::after {
   content: '';
   position: absolute;
   background-color: transparent;
   right: 0;
   top: 0;
   width: calc(100% - calc(var(--default-size) * 0.1));
   height: calc(var(--default-size) * 1);
   border-right: calc(var(--default-size) * 0.1) solid rgb(0, 133, 91);
   border-top: calc(var(--default-size) * 0.1) solid rgb(0, 133, 91);
   z-index: -1;
}

/* Page header */
.main-menu .window-header {
   top: 0;
   left: 50%;
   transform: translate(-50%, -95%);
   position: absolute;
   font-size: calc(var(--default-size) * 1.5);
}