@import url('./modal-other-data/modal-other-data.css');

.modal-other-bg {
   background-color: rgba(0, 0, 0, 0.8);
   position: relative;
}

.modal-other-box {
   width: 30%;
   height: 70%;
   background: rgb(35, 69, 92);
   background: linear-gradient(
      180deg,
      rgb(35, 69, 92) 0%,
      rgb(67, 121, 156) 50%,
      rgb(35, 69, 92) 100%
   );
   padding: calc(var(--default-size) * 0.8);
}

.modal-other-box-header {
   position: absolute;
   left: 0;
   top: -5%;
}
